<div class="test">
    <!--{{person.name}} got A+ in his HSC exam-->
    <!--{{person.name}} got {{person.result}} in his HSC exam-->
    {{studentType}}
    <div ng-transclude>

    </div>
    {{isolatedName}}
    <!--<input type="text" ng-model="person.name"/>-->
    <!--<input type="text" ng-model="person.name"/>-->




    <!--<div><label>Name:</label><input type="text" ng-model="name"></div>-->
    <!--<div><label>Email:</label><input type="text" ng-model="email"></div>-->
    <!--<div><input type="submit" ng-click="submit()"></div>-->
</div>